@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");
body {
  font-family: "Montserrat", sans-serif; }

.navbar {
  position: fixed;
  z-index: 2; }

#alt {
  box-shadow: none;
  color: #156963;
  padding: 8px 32px;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px; }

.colored_btn {
  background-color: #156963;
  border-radius: 0;
  color: #fff;
  padding: 8px 32px;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px; }
  .colored_btn:hover {
    background-color: #0d403c;
    color: #fff; }

.box {
  position: relative; }
  .box img {
    margin-bottom: 3px; }

.input {
  width: 30px;
  border: 1px solid transparent;
  margin-right: -30px;
  width: 20px;
  height: 25px;
  background: none;
  outline: none;
  transition: 0.5s; }

.box:hover input {
  width: 250px;
  background: transparent;
  border-bottom: 1px solid #000000; }

.carousel {
  position: relative; }
  .carousel .carousel-item {
    min-height: 700px; }
    .carousel .carousel-item .text {
      width: 563px; }
      .carousel .carousel-item .text h1 {
        font-weight: 500;
        font-size: 68px;
        line-height: 83px;
        color: #156963; }
      .carousel .carousel-item .text p {
        font-size: 18px;
        line-height: 32px; }
  .carousel .arrows_block {
    position: absolute;
    right: 0;
    bottom: 0; }
    .carousel .arrows_block button {
      width: 271px;
      height: 160px; }
      .carousel .arrows_block button .previous,
      .carousel .arrows_block button .next {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        opacity: 70%; }
    .carousel .arrows_block .prev_btn {
      background-color: transparent; }
    .carousel .arrows_block .arrow {
      width: 21px;
      height: 19px; }
    .carousel .arrows_block #ar_alt {
      transform: rotate(180deg); }

.card {
  width: 100%;
  margin: 100px 0px;
  height: 155px;
  padding: 22px 18px; }
  .card .icon_and_tittle {
    margin-bottom: 15px; }
    .card .icon_and_tittle h4 {
      margin-left: 18px;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      color: #156963; }
  .card p {
    font-weight: normal;
    font-size: 10px;
    line-height: 16px; }

.part_up h4 {
  font-weight: 600;
  font-size: 20px; }
.part_up .drop_btn {
  border-radius: 0;
  border: 1px solid #e0e0e0;
  width: 130px;
  height: 31px; }
  .part_up .drop_btn span {
    font-weight: 500;
    font-size: 12px; }

.cart {
  min-height: 240px;
  margin-bottom: 80px; }
  .cart img {
    width: 240px;
    height: 240px;
    background-color: #f3f4f6; }
  .cart h5 {
    font-weight: normal;
    font-size: 16px;
    text-align: center; }
  .cart p {
    font-weight: 600;
    font-size: 16px;
    text-align: center; }

.content {
  min-height: 700px; }
  .content .text {
    width: 522px; }
    .content .text h4 {
      font-weight: bold;
      font-size: 40px;
      line-height: 56px; }
    .content .text p {
      font-size: 16px;
      line-height: 28px;
      margin-bottom: 90px; }
    .content .text img {
      width: 568px;
      height: 250px; }

.bg_block {
  min-height: 360px;
  background-color: #f3f4f6; }
  .bg_block .pic {
    width: 480px;
    height: 360px; }
  .bg_block .text {
    width: 585px; }
    .bg_block .text h4 {
      font-weight: bold;
      font-size: 40px; }
    .bg_block .text button {
      width: 152px;
      height: 40px;
      margin-top: 32px;
      font-weight: 500;
      font-size: 14px; }

footer {
  min-height: 270px;
  margin-top: 80px;
  border-top: 1px solid #156963; }
  footer p {
    width: 282px;
    font-weight: normal;
    font-size: 13px; }
  footer h3 {
    font-weight: 500;
    font-size: 24px;
    color: #156963; }
  footer h4 {
    font-weight: 500;
    font-size: 16px; }
  footer h5 {
    font-weight: normal;
    font-size: 14px; }
  footer .submit {
    width: 51px;
    height: 22px;
    font-weight: 500;
    font-size: 8px; }
  footer input {
    margin: 15px 0;
    padding: 8px 13px;
    width: 234px;
    height: 32px;
    font-weight: normal;
    font-size: 12px;
    border: 1px solid #f2f2f2; }
    footer input:focus {
      outline: none; }

.modal_sign_in {
  width: 100%;
  max-width: 700px; }
  .modal_sign_in .modal-content {
    position: relative;
    border-radius: 0;
    border: none;
    min-height: 500px;
    background: url(../img/patern.png), #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); }
    .modal_sign_in .modal-content .btn-close {
      position: absolute;
      right: 20px;
      top: 20px;
      z-index: 2; }
  .modal_sign_in h4 {
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    color: #156963; }
.modal .margin_form {
  margin-bottom: 20px; }
  .modal .margin_form.alt {
    margin-top: 35px; }
.modal .pic {
  object-fit: cover;
  height: 500px; }
.modal .form_control {
  max-height: 50px;
  border-radius: 0;
  border: 1px solid #c4c4c4;
  padding: 15px 15px 10px; }
.modal input {
  max-height: 40px;
  border-radius: 0; }
.modal label {
  font-size: 12px;
  padding: 12px 15px; }
.modal input:focus {
  outline: none;
  box-shadow: none; }
.modal ::placeholder {
  color: #f3f4f6;
  font-size: 10px; }
.modal .colored_btn {
  width: 100%; }

/*# sourceMappingURL=main.css.map */
